<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Items Index</h1>
  </div>

  <div class="panel-body container-fluid">
    <% @items.each do |item| %>
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <%= link_to image_tag(item.image.url(:medium)), item %>
      </div>

      <div class="clearfix visible-xs-block"></div>

      <div class="col-xs-6 col-md-4">
        <%= item.description %>
        <br>
        <%= item.user.name if item.user %>
      </div>

      <div class="clearfix visible-xs-block"></div>

      <div class="col-xs-6 col-md-4">
        
        <%= link_to 'Show', item %>
        <% if item.user == current_user %>
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <% end %>
    <br>

      <% if user_signed_in? %>
    <div>
      <%= link_to new_item_path, :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus"> </span> New Item
      <% end %>
    </div>

  </div>





</div>

<% end %>

